.app-material-demo {
  &__row {
    max-width: 860px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2.5rem;
    margin-bottom: 2.5rem;

    &:last-child {
      margin-bottom: 0;
    }

    &--nowrap {
      flex-wrap: nowrap;
    }
  }
}
