:root {
  --app-layout-gutter-outer: 0.75rem;
  --app-layout-gutter-inner: 1.5rem;
  --app-layout-radius: var(--mat-sys-corner-medium);
  --app-layout-background-color: var(--mat-sys-secondary-container);
  --app-layout-text-color: var(--mat-sys-on-secondary-container);
}

// Direct override
//.mat-drawer-backdrop.mat-drawer-shown {
//  backdrop-filter: blur(0.25rem);
//}

// Duplicate from Material drawer's transform
$transition: 400ms cubic-bezier(0.25, 0.8, 0.25, 1);

.app-layout {
  --mat-toolbar-standard-height: 48px;
  --mat-toolbar-mobile-height: 42px;
  --mat-toolbar-container-background-color: var(--app-layout-background-color);
  --mat-toolbar-container-text-color: var(--app-layout-text-color);

  --mat-sidenav-container-shape: var(--app-layout-radius);
  --mat-sidenav-container-background-color: var(--app-layout-background-color);
  --mat-sidenav-container-text-color: var(--app-layout-text-color);
  --mat-sidenav-content-background-color: var(--mat-sidenav-container-background-color);

  margin: 0 auto;
  min-width: 320px;
  max-width: 1920px;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas: 'header' 'container';

  &__header {
    grid-area: header;
    gap: 0.75rem;
    padding: 0 calc(var(--app-layout-gutter-outer) + var(--app-layout-radius)) !important;

    &-center {
      flex-grow: 1;

      display: flex;
      justify-content: center;
      align-items: center;
      gap: inherit;
    }
  }

  &__container {
    grid-area: container;
  }

  &__sidenav {
    --mat-sidenav-container-width: var(--app-layout-sidenav-width);

    z-index: 4 !important;

    max-width: 100vw;
    border-right: 0px !important;
    padding: var(--app-layout-gutter-outer);

    transition-property: transform, background-color, box-shadow !important;

    &--width-shadow {
      box-shadow: var(--mat-sys-level3) !important;
    }

    @media (width < 600px) {
      --mat-sidenav-container-background-color: color-mix(
        in srgb,
        var(--app-layout-background-color) 65%,
        var(--mat-sys-surface)
      );
    }
  }

  &__content {
    height: calc(100% - var(--app-layout-gutter-outer));
    position: relative;
    overflow: auto;
    margin-inline: var(--app-layout-gutter-outer);
    border-radius: var(--app-layout-radius);
    background-color: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);

    display: grid !important;
    grid-template-columns: fit-content(var(--app-layout-panel-left-width)) 1fr fit-content(
        var(--app-layout-panel-right-width)
      );
    grid-template-areas: 'panel-left main panel-right';

    transition: margin $transition;

    &--width-sidenav-opened {
      margin-left: 0;
    }
    &--width-sidebar-opened {
      margin-right: 0;
    }
  }

  &__panel {
    --app-layout-toolbar-height: var(--mat-toolbar-standard-height);
    @media (width < 600px) {
      --app-layout-toolbar-height: var(--mat-toolbar-mobile-height);
    }
    height: calc(100vh - var(--app-layout-toolbar-height) - var(--app-layout-gutter-outer));

    position: sticky;
    overflow: auto;
    top: 0;
    box-sizing: border-box;
    padding: var(--app-layout-gutter-inner);
    border: 0 solid var(--app-layout-background-color);

    &--left {
      grid-area: panel-left;
      border-right-width: 1px;
    }

    &--right {
      grid-area: panel-right;
      border-left-width: 1px;
    }
  }

  @media (width < 840px) {
    &__content {
      grid-template-columns: 1fr;
      grid-template-rows: max-content max-content 1fr;
      grid-template-areas: 'panel-left' 'panel-right' 'main';
    }

    &__panel {
      height: auto;
      position: relative;
      border-width: 0 0 1px 0;
    }
  }

  &__main {
    grid-area: main;
    position: relative;
    padding: var(--app-layout-gutter-inner);
  }

  &__sidebar {
    --mat-sidenav-container-width: var(--app-layout-sidebar-width);
    --mat-sidenav-container-shape: 0;

    max-width: 100vw;
    border-left: 0px !important;
    padding: var(--app-layout-gutter-outer);
    padding-top: 0;

    &-inner {
      height: 100%;
      position: relative;
      overflow: auto;
      box-sizing: border-box;
      border-radius: var(--app-layout-radius);
      padding: var(--app-layout-gutter-inner);
      background-color: var(--mat-sys-surface);
    }
  }
}
