@let sidenav = ('sidenav' | layoutRegion)();

<mat-toolbar class="app-layout__header" role="heading">
  <button
    matIconButton
    aria-label="Toggle Sidenav"
    [disabled]="!sidenav.length"
    (click)="sideService.toggleSidenav()"
  >
    <mat-icon>
      @if (sideService.sidenavOpened()) {
        menu_open
      } @else {
        menu
      }
    </mat-icon>
  </button>

  @for (item of ('headerLeft' | layoutRegion)(); track item) {
    <ng-container [ngTemplateOutlet]="item.template" />
  }

  <div class="app-layout__header-center">
    @for (item of ('headerCenter' | layoutRegion)(); track item) {
      <ng-container [ngTemplateOutlet]="item.template" />
    }
  </div>

  @for (item of ('headerRight' | layoutRegion)(); track item) {
    <ng-container [ngTemplateOutlet]="item.template" />
  }
</mat-toolbar>

<mat-drawer-container
  class="app-layout__container"
  [hasBackdrop]="sideService.hasBackdrop()"
  (backdropClick)="sideService.toggleSidenav(false); sideService.toggleSidebar(false)"
  #drawerContainer
>
  <mat-drawer
    class="app-layout__sidenav"
    role="complementary"
    [mode]="sideService.sidenavMode()"
    [opened]="!!sidenav.length && sideService.sidenavOpened()"
  >
    @for (item of sidenav; track item) {
      <ng-container [ngTemplateOutlet]="item.template" />
    }
  </mat-drawer>

  <mat-drawer-content>
    <div
      class="app-layout__content"
      [class.app-layout__content--width-sidebar-opened]="sideService.sidebarOpened()"
    >
      @let panelLeft = ('panelLeft' | layoutRegion)();
      @if (panelLeft.length) {
        <div class="app-layout__panel app-layout__panel--left">
          @for (item of panelLeft; track item) {
            <ng-container [ngTemplateOutlet]="item.template" />
          }
        </div>
      }

      @let panelRight = ('panelRight' | layoutRegion)();
      @if (panelRight.length) {
        <div class="app-layout__panel app-layout__panel--right">
          @for (item of panelRight; track item) {
            <ng-container [ngTemplateOutlet]="item.template" />
          }
        </div>
      }

      <main class="app-layout__main">
        <button
          matIconButton
          aria-label="Toggle Sidebar"
          (click)="sideService.toggleSidebar()"
          style="float: right"
        >
          <mat-icon>settings</mat-icon>
        </button>

        <ng-content />
      </main>
    </div>
  </mat-drawer-content>

  @let sidebar = ('sidebar' | layoutRegion)();
  <mat-drawer
    class="app-layout__sidebar"
    role="complementary"
    position="end"
    [mode]="sideService.sidebarMode()"
    [opened]="!!sidebar.length && sideService.sidebarOpened()"
  >
    <div class="app-layout__sidebar-inner">
      @for (item of sidebar; track item) {
        <ng-container [ngTemplateOutlet]="item.template" />
      }
    </div>
  </mat-drawer>
</mat-drawer-container>
