@let sidenavRegions = layoutSidenav.regions();

<mat-toolbar class="app-layout__header" role="heading">
  <button
    matIconButton
    aria-label="Toggle Sidenav"
    [disabled]="sidenavRegions === null"
    (click)="layoutSidenav.toggle()"
  >
    <mat-icon>
      @if (layoutSidenav.opened()) {
        menu_open
      } @else {
        menu
      }
    </mat-icon>
  </button>

  @for (item of ('headerLeft' | layoutRegion)(); track item) {
    <ng-container [ngTemplateOutlet]="item.template" />
  }

  <span class="app-layout__header-spacer"></span>

  @for (item of ('headerRight' | layoutRegion)(); track item) {
    <ng-container [ngTemplateOutlet]="item.template" />
  }
</mat-toolbar>

<mat-drawer-container class="app-layout__container" (backdropClick)="layoutSidenav.toggle(false)">
  <mat-drawer
    class="app-layout__sidenav"
    role="complementary"
    [mode]="layoutSidenav.mode()"
    [opened]="sidenavRegions !== null && layoutSidenav.opened()"
  >
    @for (item of sidenavRegions; track item) {
      <ng-container [ngTemplateOutlet]="item.template" />
    }
  </mat-drawer>

  @let sidebarList = ('sidebar' | layoutRegion)();
  <mat-drawer role="complementary" position="end" mode="side" [opened]="sidebarList !== null">
    @for (item of sidebarList; track item) {
      <ng-container [ngTemplateOutlet]="item.template" />
    }
  </mat-drawer>

  <mat-drawer-content class="app-layout__content">
    <main class="app-layout__main">
      <ng-content />
    </main>
  </mat-drawer-content>
</mat-drawer-container>
