.app-layout {
  // ----- toolbar -----
  --mat-toolbar-container-background-color: var(--mat-sys-primary-container);
  --mat-toolbar-container-text-color: var(--mat-sys-on-primary-container);

  // ----- sidenav -----
  --mat-sidenav-content-background-color: var(--mat-sys-primary-container);

  --mat-sidenav-container-width: 240px;
  --mat-sidenav-container-shape: var(--mat-sys-corner-medium);
  --mat-sidenav-container-background-color: var(--mat-sys-primary-container);

  position: relative;
  height: 100%;
  display: grid;
  grid-template-rows: min-content auto;
  grid-template-areas: 'header' 'container';

  &__header {
    grid-area: header;
    gap: 0.75rem;

    &-spacer {
      flex: 1 1 auto;
      text-align: center;
    }
  }

  &__container {
    grid-area: container;
  }

  &__sidenav {
    border-right: 0px !important;
    padding: 0 0 1rem 1rem;
  }

  &__content {
    box-sizing: border-box;
  }

  &__main {
    overflow: auto;
    box-sizing: border-box;
    height: calc(100% - 1rem);
    margin: 0 1rem 1rem 1rem;
    padding: 1rem;
    border-radius: var(--mat-sys-corner-medium);
    background-color: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
    transition: 400ms cubic-bezier(0.25, 0.8, 0.25, 1); // Same as Material drawer's transform
    transition-property: height, margin, border-radius;
  }

  @media (width < 600px) {
    --mat-sidenav-container-width: 256px;
    --mat-sidenav-container-background-color: var(--mat-sys-surface);

    &__sidenav {
      padding-right: 1rem;
    }

    &__main {
      height: 100%;
      margin: 0;
      border-radius: 0;
    }
  }
}
