@use '@fontsource/lato/latin-400.css';
@use '@fontsource/lato/latin-700.css';

@use '@material-symbols/font-500/rounded.css';

@use '@angular/material' as mat;

html,
body {
  height: 100%;
}

html {
  overscroll-behavior: none;

  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Lato,
      density: -1,
    )
  );
}

body {
  color-scheme: light;

  margin: 0;

  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}
